@model IEnumerable<BrandModel>
@using Shopping_Tutorial.Models

@{
    ViewData["title"] = "Brand Listed";
    var pager = ViewBag.Pager as Paginate;
}

<h3>List Brands</h3>
<a asp-action="Create" asp-controller="Brand">Add Brand</a>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Brand Name</th>
            <th>Brand Description</th>
            <th>Brand Slug</th>
            <th>Brand Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.Slug</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="text text-danger">Ẩn</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Brand" asp-route-Id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Brand" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (pager != null && pager.TotalPages > 1)
{
    <ul class="pagination justify-content-center">
        @for (int i = pager.StartPage; i <= pager.EndPage; i++)
        {
            <li class="page-item @(i == pager.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pg="@i">@i</a>
            </li>
        }
    </ul>
}
