@model IEnumerable<CategoryModel>
@using Shopping_Tutorial.Models
@{
    ViewData["title"] = "Category Listed";
    var pager = ViewBag.Pager as Paginate;
}

<h3>List Category</h3>
<a asp-action="Create" asp-controller="Category" class="btn btn-primary mb-3">Add Category</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Description</th>
            <th scope="col">Category Slug</th>
            <th scope="col">Category Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.Slug</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="text-danger">Ẩn</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger btn-sm confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- PHÂN TRANG -->
@if (pager != null && pager.TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <!-- Previous -->
            <li class="page-item @(pager.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
            </li>

            <!-- Trang -->
            @for (int i = pager.StartPage; i <= pager.EndPage; i++)
            {
                <li class="page-item @(i == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pg="@i">@i</a>
                </li>
            }

            <!-- Next -->
            <li class="page-item @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
            </li>

        </ul>
    </nav>
}
